html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#ad {
    left: 50%;
    bottom: 5px;
    width: 350px;
    height: 50px;
    position: absolute;
    center: 0px;
    bottom: 5px;
}
#game-div {}